:root {
    /* color */
    --color-bg:#F3D6F2;
    --color-primary: #EEBDF0;
    --color-secondary: #B4DAF0;
    --color-white: #fff;
    --color-black: #000;

    /* size */
    --header-item-size: 3.5rem;
}