:root {
  --color-primary-100: #EAF2FF;
  --color-primary-200: #CFE2FF;
  --color-primary-300: #A6C8FF;
  --color-primary-400: #6EA8FE;
  --color-primary-500: #2F80ED; /* main */
  --color-primary-600: #1C6FEA;
  --color-primary-700: #1558B0;
  --color-primary-800: #0F3F7A;
  --color-primary-900: #0A2A52;
  --color-secondary-500: #FF4D4D; /* 지출 메인 컬러 */

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}